:root {
	--primaryTextColor: #fffd;
	--secondaryTextColor: #fff8;
	--backgroundColor: #222;
	--hexBackgroundColor: #000;
	--playerBackgroundColor: #000;
	--playerGradient: linear-gradient(to right, #0008 42%, #0880);
	--listBackgroundColor: #000b;
	--listEvenBackgroundColor: #fff1;
	--listOddBackgroundColor: #fff2;
	--listHoverBackgroundColor: #fff5;
	--listSelectedBackgroundColor: #fff4;
}
