:root {
	--fontFamily: 'Noto Sans', 'Open Sans', 'Segoe UI', sans-serif;
}

html {
	background: #222;
}

body {
	font-size: 16px;
	/*font-size: 2vh;*/
	font-family: var(--fontFamily);
	background-color: var(--backgroundColor);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.layout {
	width: 100%;
	max-width: 768px;
}



#hex-button {
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	height: 5.8rem;
	width: 5.8rem;
	cursor: pointer;

	position: absolute;
	transform: translate(-50%, -50%);
	left: 2.55rem;
	top: 2.85rem;
	z-index: 1;
}

#hex-button.play #hex-button-pause,
#hex-button.pause #hex-button-play {
	display: none;
}

#hex-button-hex {
	stroke: var(--primaryTextColor);
	stroke-width: 1rem;
}

#hex-button-play,
#hex-button-pause {
	transform: translate(38%, 38%);
}



.player {
	position: relative;
	width: 100%;
	z-index: 1;
}

.player .wrapper {
	min-height: 2.9rem;
	padding-left: 5.5rem;
	background: var(--playerGradient);
}

.player .wrapper .title {
	font-size: 1.25rem;
}

.title:empty::after {
	content: "<no title>";
	color: var(--secondaryTextColor)
}

.player .wrapper .artist {
	font-size: .75rem;
	color: var(--secondaryTextColor);
}

.artist:empty::artist {
	content: "<no artist>";
}

.player .description {
	background-color: var(--playerBackgroundColor);
	padding-left: 3rem;
	margin-left: 2.5rem;
	min-height: 1.4rem;
}

.player .description.top {
	display: inline-block;
	padding-right: 1em;
}

.player .description.bottom {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player .progressWrap {
	margin: 0 .5rem 0;
	height: 1rem;
}

.listWrap {
	position: relative;
	top: -1.4rem;
	padding-top: 1.4rem;
	margin-bottom: -1.4rem;
	z-index: 0;
	background-color: var(--listBackgroundColor);
}

.stationList {
	max-height: calc(100vh - 7.8rem);
	overflow: hidden auto;
	transition: max-height .2s;
}

.stationList.folded {
	max-height: 0;
}

.stationList .entry {
	padding: .5rem;
	position: relative;
}

.stationList .entry:nth-of-type(even) {
	background-color: var(--listEvenBackgroundColor);
}
.stationList .entry:nth-of-type(odd) {
	background-color: var(--listOddBackgroundColor);
}
.stationList .entry.selected {
	background-color: var(--listSelectedBackgroundColor);
}
.stationList .entry:hover {
	background-color: var(--listHoverBackgroundColor);
}

.stationList .name, .stationList .time {
	font-size: .75rem;
	color: var(--secondaryTextColor);
}

.stationList .time {
	position: absolute;
	right: .5rem;
	top: .5rem;
}

.title, .artist {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer, .listWrap {
	border-radius: 0 0 .25rem .25rem;
}

.footer > * {
	align-self: stretch;
	padding: .5rem;
	outline: none;
	flex: 1;
}

#typeSelect {
	text-align: center;
	text-align-last: center;
}

#themeSelect {
	text-align: right;
	text-align-last: right;
}

.footer select, .fold, .pasteleft {
	color: var(--secondaryTextColor);
	font-size: .8rem;
}

option {
	background: var(--backgroundColor);
	color: var(--primaryTextColor);
}

option[selected] {
	background: var(--listSelectedBackgroundColor);
}

.pasteleft {
	float: right;
}

a {
	color: var(--primaryTextColor);
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

@media screen and (max-width: 812px) {
	.container {
		display: block;
		/*font-size: 2vmax;*/
	}
	.layout {
		max-width: 100%;
	}
}

@media screen and (max-height: 447px) {
	.stationList {
		max-height: 40rem;
		overflow: auto;
		transition: max-height .2s;
	}
}
